<dl class="list-hours {{ class_str }}">
  {% for i in (1..7) %}
    {% assign label_key = 'day' | append: i | append: '_label' %}
    {% assign hours_key = 'day' | append: i | append: '_hours' %}
    {%- if settings[label_key] != blank -%}
      <div>
        <dt>{{ settings[label_key] }}</dt>
        <dd>{{ settings[hours_key] }}</dd>
      </div>
    {%- endif -%}
  {% endfor %}
</dl>
