.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.2rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid #454A4E;
}

.accordion:last-of-type {
  border-bottom: 0.1rem solid #454A4E;
}

.accordion + .accordion {
  margin-top: 0;
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-1);
  font-family: var(--font-alt-family);
  font-weight: var(--font-alt-weight-normal);
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 4.5rem;
  word-break: break-word;
  overflow-x: auto;
}

.accordion__content img {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  summary .icon-caret {
    display: none;
  }
}

@media screen and (min-width: 750px) {

  .accordion summary {
    padding: 2rem 0;
  }
  .accordion__title {
  }

}
