.ghs-image-with-text {
  overflow: hidden;
}
.ghs-image-with-text .image-with-text__text a {
  text-decoration: none;
}

@media screen and (max-width: 749px) {

  .ghs-image-with-text .image-with-text__content > * {
    margin-top: 2.5rem;
  }
  .ghs-image-with-text .image-with-text__text {
    max-width: calc(100% - 9rem);
  }
  .ghs-image-with-text .image-with-text__heading {
    font-size: var(--font-size-hero-text);
    line-height: var(--line-height-tight);
  }
  .ghs-image-with-text .image-with-text__heading:first-child {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5rem;
  }
  .ghs-image-with-text .image-with-text__heading:not(:first-child) {
    border-top: 1px solid var(--border-color);
    margin-top: 5rem;
    padding-top: 3rem;
  }
  .ghs-image-with-text .image-with-text__content {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1.5rem 2.5rem 0;
  }
  .ghs-image-with-text .image-with-text__content {
    margin-bottom: 0;
  }
  .ghs-image-with-text .image-with-text__text + .banner__buttons {
    margin-left: auto;
    flex-flow: column;
  }

}

@media screen and (min-width: 750px) {

  .ghs-image-with-text {
    max-height: calc(100vh - var(--height-header-large-up));
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  .ghs-image-with-text .image-with-text__heading {
    order: -1;
  }
  .ghs-image-with-text .image-with-text__heading,
  .ghs-image-with-text .image-with-text__content :last-child:is(.image-with-text__heading) {
    margin-bottom: 3.5rem;
  }

  .ghs-image-with-text .image-with-text__grid {
    margin-top: auto;
    width: 100%;
  }
  .ghs-image-with-text.desktop-text-light .image-with-text__heading {
    color: rgb(var(--color-light-text));
  }
  .ghs-image-with-text .image-with-text__content {
    max-width: 59rem;
    padding: 13.5rem 2.5rem;
    height: auto;
  }
  .ghs-image-with-text .image-with-text__text-item {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: column;
    z-index: 2;
  }
  .ghs-image-with-text .banner__buttons {
    gap: 2.3rem;
  }
  .ghs-multicolumn__column .hero-text {
    margin-bottom: 5.5rem;
  }
  .ghs-multicolumn__links a:after {
    content: ' >';
  }
  .ghs-multicolumn__links {
    margin-top: calc(var(--font-size-desktop-base) * var(--line-height-desktop-base) * 2);
    display: flex;
    gap: 3rem;
  }
  .ghs-multicolumn__buttons {
    display: flex;
    gap: 2rem;
  }
  .ghs-multicolumn .ghs-multicolumn__buttons .button {
    margin-top: 5rem;
  }
  .ghs-multicolumn__address a {
    text-decoration: none;
  }

}
