.blog-placeholder {
  margin: 0 1.5rem;
  background: rgb(var(--color-background));
}

@media screen and (min-width: 750px) {
  .blog-placeholder {
    text-align: center;
    width: 50%;
    margin: 0;
  }
}

.blog-placeholder__content {
  padding: 3rem;
  background: rgba(var(--color-foreground), 0.04);
}

.blog-placeholder .placeholder {
  position: relative;
}

.blog-placeholder h2 {
  margin: 0;
}

.blog-placeholder .rte-width {
  margin-top: 1.2rem;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
  margin-top: 3rem;
  --grid-mobile-vertical-spacing: 3rem;
  --grid-mobile-horizontal-spacing: 0;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }

  .blog__posts.articles-wrapper {
    display: grid;
    grid-template-areas: 'left margin right';
    grid-template-columns: 6.5fr 0.5fr 3fr;
  }

  .blog__posts.articles-wrapper > .article {
    grid-area: left;
  }
  .blog__posts.articles-wrapper > .other-posts {
    grid-area: right;
  }

}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem);
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 6rem;
  display: block;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 9rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}

.ghs-featured-blog .blog__post.article {
  width: 100%;
}
